.login-container {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;   /* top aligned like screenshot */
  justify-content: center;
  background: #f7f7f7;
}

.login-box {
  width: 100%;
  max-width: 400px;
  padding: 25px 16px;
}

/* Heading */
h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

/* Description */
p {
  font-size: 12.5px;
  color: #837d7d;
  margin-bottom: 14px;
  line-height:0.5;
}

/* Label */
label {
  font-size: 12px;
  color: #6a11cb;
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

/* Input */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  font-size: 14px;
  background: white;
  outline: none;
}

/* Focus effect */
input:focus {
  border-color: #6a11cb;
}

/* Button (disabled look) */
.login-btn {
  width: 100%;
  padding: 13px;
  background: #d3d3d3;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  cursor: not-allowed;
}

/* Button when enabled */
.login-btn:enabled {
  background: #6a11cb;
  cursor: pointer;
}